.img {
  width: 100%;
  cursor: pointer;
}

.icon-container {
  display: flex; /* Centering the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 20px; /* Space around the icon */
}

.icon {
  width: 80px; /* Set width for the icon */
  height: 80px; /* Set height for the icon */
  object-fit: cover; /* Ensure image covers the area without distortion */
  /* border-radius: 50%;         Optional: make the icon circular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
  transition: transform 0.2s; /* Optional: smooth scaling effect on hover */
}

.icon:hover {
  transform: scale(1.1); /* Scale up the icon on hover */
}

.contact-container {
  display: flex; /* Centering the icon */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 50px; /* Space around the icon */
}

.contact {
  width: 30px; /* Set width for the icon */
  height: 30px; /* Set height for the icon */
  object-fit: cover; /* Ensure image covers the area without distortion */
  /* border-radius: 50%;         Optional: make the icon circular */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: add shadow for depth */
  transition: transform 0.2s; /* Optional: smooth scaling effect on hover */
  margin-right: 20px;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}
header {
  background: url('./images/blue\ header.png');
  background-size: cover; /* Ensures the image covers the entire header */
  background-position: center; /* Centers the image */
  color: white;
  text-align: center;
  padding: 20px 0;
}
.container {
  display: flex;
  /* height: calc(100vh - 60px); Adjusts for header height */
}
.left-container {
  flex: 1;
  background-color: #f4f4f4;
  padding: 20px;
}
.right-container {
  flex: 2;
  background-color: #eaeaea;
  padding: 20px;
}
